/* Introduction
===============

** nicolas.verlhiac@gmail.com
** @nicolasverlhiac

*/

/*
**                                    Icones (font)
**************************************************************************************/
/** Outil utilisé pour générer cette font : http://icomoon.io/app/ **/

@font-face {
    font-family: 'panel-utilisateur';
    src:url('../fonts/panel-utilisateur.eot');
    src:url('../fonts/panel-utilisateur.eot?#iefix') format('embedded-opentype'),
        url('../fonts/panel-utilisateur.ttf') format('truetype'),
        url('../fonts/panel-utilisateur.woff') format('woff'),
        url('../fonts/panel-utilisateur.svg#panel-utilisateur') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'panel-utilisateur';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
    content: "\e60a";
}
.icon-checkmark:before {
    content: "\e60b";
}
.icon-cross:before {
    content: "\e60c";
}
.icon-lifebuoy:before {
    content: "\e60d";
}
.icon-trash:before {
    content: "\e60e";
}
.icon-cog2:before {
    content: "\e60f";
}
.icon-logout:before {
    content: "\e601";
}

/** CSS pour IE7 et plus vieux **/ 
.icon-heart {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60a;');
}
.icon-checkmark {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60b;');
}
.icon-cross {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60c;');
}
.icon-lifebuoy {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60d;');
}
.icon-trash {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60e;');
}
.icon-cog2 {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60f;');
}
.icon-logout {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe601;');
}


/*
**                                Sructure globale du site
**************************************************************************************/
header {
    width: 400px;
    margin: 100px auto 0;
}

header#head-accueil {
    width: 400px;
    margin: 100px 0 0 0;
}

body {
	font-family: 'helvetica';
    background: url('../images/noise.gif') repeat;
    font-weight: 100;
    margin: 0;
    overflow-x: hidden;
}

.main {
    width: 1100px;
    display: block;
    margin: 50px auto 0;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    border-radius: 3px;
}

section {
    width: 900px;
    margin: 0 auto;
}

section#accueil {
    width: 400px;
    margin: 0 auto;
}

footer {
    font-size: 18px;
    padding: 0 0 20px 0;
    float: left;
    color: #606060;
    text-align: center;
    width: 856px;
}

.clear {
    clear: both;
}

/*
**                                Typographie et titres
**************************************************************************************/


h1 {
    border-bottom: 1px solid #b4b4b4;
    padding-bottom: 15px;
    margin: 0 0px 30px 0;
}

h2 {
    margin: 0 0 20px 0;
    color: #80b61b;
    font-weight: 100;
    text-align: center;
    line-height: 32px;
}

p{ font-size: 14px; color: #828282; }

ul { margin: 0; }

li { 
    font-size: 14px; 
    color: #828282; 
    list-style: none;
}

hr {
    opacity: 0.10;
}

strong { font-weight: bold; }

a { color: #14a6db; text-decoration: none; }

a:hover { color: #63c5e7; }

a.logo {
    font-size: 35px;
    font-weight: bold;
    color: #666666;
    background: url('../images/logo-bis3.png') no-repeat left top;
    height: 80px;
    width: 400px;
    padding-top: 10px;
    display: block;
}

/*Boutton*/

a.btn {
    background: #555555;
    text-align: center;
    border-radius: 3px;
    padding: 18px; 
    color: #fff;
    border: none;
    box-shadow: 0 0 1px 0px rgba(0,0,0, 0.4);
    margin: 0 0 15px 0;
    font-size: 16px;
    font-weight: 500;
    width: 365px;
    display: block;
}

a.btn:hover{
    background: #80b61b;
}

a.btn-retour {
    background: #0072AF;
    text-align: center;
    border-radius: 3px;
    padding: 9px; 
    color: #fff;
    border: none;
    margin: 0 0 15px 0;
    font-size: 12px;
    font-weight: 500;
    width: 130px;
    display: block;
}

a.btn-retour:hover {
    background: #0198EB;
}

a.btn-retour i{
    font-size: 16px;
    position: relative;
    bottom: -3px;
    margin-right: 5px;
}

/*
**                               Sidebar Administration
**************************************************************************************/

#sidebar {
    margin: 0 0 0 0;
    float: left;
    background: #fff;
    width: 300px;
}

/** Header de la sidebar **/

div.header-sidebar {
    width: 300px;
    background: url("../images/dark.png");
    border-radius: 3px 0 0 0;
    padding-bottom: 5px; 
    text-align: center;
}
div.header-sidebar img {
    background: #83A47C;
    border-radius: 45px;
    border: 3px solid #ffffff;
    margin: 15px 0 0 0;
}

div.header-sidebar h2 {
    font-size: 20px;
    color: #ffffff;
    text-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
    margin: 10px 0; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/** Menu de la sidebar **/

ul.sidebar { 
    margin: 0; 
    padding: 0; 
}

ul.sidebar li { 
    font-size: 15px; 
    list-style: none;
}
ul.sidebar li:hover { 
    color: #FF6968;
}

ul.sidebar li a{ 
    font-size: 15px; 
    list-style: none;
    padding: 15px;
    background: #ffffff;
    color: #98A192;
    display: block;

}

ul.sidebar li a:hover{ 
    background: #EEF2EF;
    border-left: 3px solid #FF6968;

}
ul.sidebar li a.current{ 
    background: #EEF2EF;
}

ul.sidebar li a i{ 
    float: right;   
}

ul.sidebar li a i.current{ 
    color: #FF6968;  
}

/*
**                               Contenu du panel
**************************************************************************************/

#content {
    margin: 0 0 0 0;
    border-left: solid 1px #f4f4f4;
    float: left;
    background: #ffffff;
    border-radius: 3px;
    width: 740px;
    padding: 0 20px 0 39px;
    display: block;
}

/** Header du contenu **/

div.header-content {
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 15px; 
    padding: 10px 0;
}

div.header-content h2 {
    font-size: 20px;
    color: #999999;
    margin: 0; 
    font-weight: 100;
    text-align: left;
}

#content p {
    margin-bottom: 20px;
}

#content form {
    width: 740px;
    margin: 0 auto;
    display: block;
}

#content form input[type=submit]{
    background: #80b61b;
    border-radius: 3px;
    padding: 10px; 
    color: #fff;
    border: none;
    float: left;
    box-shadow: 0 0 1px 0px rgba(0,0,0, 0.4);
    margin: 0 0 15px 0;
    font-size: 14px;
    font-weight: 500;
    width: 130px;
}

#content form input[type=text], 
#content form input[type=password] {
    border-radius: 3px;
    border:1px solid #e5e5e5;
    padding: 10px;
    margin: 0 0 20px 0;
    font-size: 14px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0, 0.10) inset;
    color: #7f7f7f;
    width: 300px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #d9d9d9; /* Old browsers */
}


/*                                     Profil
**************************************************************************************/

.profil{
    float: left;
}

.profil img{
    border: 8px solid #ffffff;
    border-radius: 205px;
    box-shadow: 0px 0px 6px 2px rgba(0,0,0, 0.10);
    margin: 30px 0 20px 0;
}

.profil-infos{
    margin: 40px 0 0 40px;
    float: left;
}

.profil-infos h3{
    font-size: 40px;
    margin: 10px 0 25px;
    font-weight: 100;
    color: #828282;
}

.profil-infos p{
    font-size: 16px;
    font-weight: 100;
    color: #828282;
    padding-left: 20px;
}

/*                                   Formulaire
**************************************************************************************/

form {
    width: 400px;
    float: left;
}

label{
    color: #909090;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px; 
    font-weight: 100;
    font-size: 14px;
}

/* Submit */

input[type=submit]{
    background: #80b61b;
    border-radius: 3px;
    padding: 18px; 
    color: #fff;
    border: none;
    box-shadow: 0 0 1px 0px rgba(0,0,0, 0.4);
    margin: 0 0 15px 0;
    font-size: 16px;
    font-weight: 500;
    width: 406px;
}
input[type=submit]:hover{
    background: #91b43b;
    box-shadow: 0 0 5px rgba(0,0,0, 0.3);
}
input[type=submit]:active{
    box-shadow: 0 0 5px rgba(0,0,0, 0.3) inset;
    -webkit-appearance: none; 
    outline: none;
}

/* Champs de saisie */

input[type=text], 
input[type=password] {
    border-radius: 3px;
    border:1px solid #e5e5e5;
    padding: 18px;
    margin: 0 0 15px 0;
    font-size: 15px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0, 0.10) inset;
    color: #7f7f7f;
    width: 370px;
    background: #d9d9d9; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #e0e0e0 0%, #d9d9d9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#e0e0e0), color-stop(100%,#d9d9d9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #e0e0e0 0%,#d9d9d9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #e0e0e0 0%,#d9d9d9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #e0e0e0 0%,#d9d9d9 100%); /* IE10+ */
    background: linear-gradient(135deg,  #e0e0e0 0%,#d9d9d9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#d9d9d9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

input[type=text]:focus, 
input[type=password]:focus{
    background: #d9d9d9;
    -webkit-appearance: none; 
    outline: none;
}

input:-moz-placeholder, 
textarea:-moz-placeholder {
    color: #7f7f7f;
    font-weight: lighter;
}
 
input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder {
    color: #7f7f7f;
    font-weight: lighter;
}

/** Formulaire de suppression de compte **/

div#content form.delete {
    width: 590px;
    float: left;
}

div#content form.delete p{
    float: left;
    width: 350px;
    margin-right: 10px;
    padding-right: 15px;
    border-right: 1px solid red;
}

/* Submit */

div#content form.delete input[type=submit]{
    background: red;
    float: left;
    border-radius: 3px;
    padding: 10px; 
    color: #fff;
    border: none;
    box-shadow: 0 0 1px 0px rgba(0,0,0, 0.4);
    margin: 10px 0 15px 0;
    font-size: 14px;
    font-weight: 500;
    width: 200px;
}
div#content form.delete input[type=submit]:hover{
    background: #91b43b;
    box-shadow: 0 0 5px rgba(0,0,0, 0.3);
}
form#delete input[type=submit]:active{
    box-shadow: 0 0 5px rgba(0,0,0, 0.3) inset;
    -webkit-appearance: none; 
    outline: none;
}

/*
**                                  RESPONSIVE
**************************************************************************************/

@media screen and (max-width: 1084px) {


}

@media screen and (max-width: 500px) {


}